/*
========================================================================================
    GRCh37 Resources Configuration
========================================================================================
*/

params {
    // SnpEff - Docker will handle this
    snpeff_db_37 = "GRCh37.75"
    
    // ClinVar database (DOWNLOADED - should work)
    clinvar_vcf_37 = "${projectDir}/databases/clinvar/clinvar_GRCh37.vcf.gz"
    clinvar_index_37 = "${projectDir}/databases/clinvar/clinvar_GRCh37.vcf.gz.tbi"
    
    // HGMD database 
    hgmd_vcf_37 = "${projectDir}/databases/hgmd/HGMD_Pro_2025.2_hg19.bgz.vcf.gz"
    hgmd_index_37 = "${projectDir}/databases/hgmd/HGMD_Pro_2025.2_hg19.bgz.vcf.gz.tbi"
    
    // dbNSFP database 
    dbnsfp_db_37 = "${projectDir}/databases/dbnsfp/dbNSFP5.2c_grch37.gz"
    dbnsfp_index_37 = "${projectDir}/databases/dbnsfp/dbNSFP5.2c_grch37.gz.tbi"
    
    // OMIM database 
    omim_genemap_37 = "${projectDir}/databases/omim/genemap2.txt"
}